# Uzduotys 
### Tiesinė regresija užduotis

In [28]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib as plt

In [18]:
fish = pd.read_csv('https://raw.githubusercontent.com/robotautas/kursas/master/Machine%20Learning/Fish.csv')
fish.head()

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
115   Perch   690.0     34.6     37.0     39.3  10.5717  6.3666
116   Perch   900.0     36.5     39.0     41.4  11.1366  7.4934
117   Perch   650.0     36.5     39.0     41.4  11.1366  6.0030
118   Perch   820.0     36.6     39.0     41.3  12.4313  7.3514
119   Perch   850.0     36.9     40.0     42.3  11.9286  7.1064

[120 rows x 7 columns]

In [ ]:
# Užduotis
# Turime lentelę su 7 žuvų rūšim, bei įvairiais jų išmatavimais. Vienas iš jų yra svoris - tai bus mūsų target stulpelis. 
# Sukurkite tiesinės regresijos modelį, kuris pagal kitus lentelės stulpelius spėlios žuvies svorį. 
# Išsiaiškinkite, ar yra trūkstamų reikšmių, atsispausdinkite keletą diagramų ir histogramų, patyrinėkite tendencijas ir koreliacijas. 
# Kilus neaiškumams, remkitės paskaitos medžiaga. Sėkmės!

In [4]:
#Patikrinkime, ar nėra (trukumu) tuščių reikšmių:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [17]:
#string reikia pakeisti i skaitmeni
dummies = pd.get_dummies(fish['Species'])
dummies.head(159) # elutes skaicius is galo

     Bream  Parkki  Perch  Pike  Roach  Smelt  Whitefish
0        1       0      0     0      0      0          0
1        1       0      0     0      0      0          0
2        1       0      0     0      0      0          0
3        1       0      0     0      0      0          0
4        1       0      0     0      0      0          0
..     ...     ...    ...   ...    ...    ...        ...
154      0       0      0     0      0      1          0
155      0       0      0     0      0      1          0
156      0       0      0     0      0      1          0
157      0       0      0     0      0      1          0
158      0       0      0     0      0      1          0

[159 rows x 7 columns]

In [11]:
# Prijunkime gautą rezultatą prie mūsų pagrindinės lentelės
data = pd.concat([fish, dummies], axis=1)

In [19]:
# patikrinimas is viso 159 eilutes
data.tail(159)

,Species,Weight,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200,1,0,0,0,0,0,0
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056,1,0,0,0,0,0,0
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961,1,0,0,0,0,0,0
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555,1,0,0,0,0,0,0
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Smelt,12.2,11.5,12.2,13.4,2.0904,1.3936,0,0,0,0,0,1,0
155,Smelt,13.4,11.7,12.4,13.5,2.4300,1.2690,0,0,0,0,0,1,0
156,Smelt,12.2,12.1,13.0,13.8,2.2770,1.2558,0,0,0,0,0,1,0
157,Smelt,19.7,13.2,14.3,15.2,2.8728,2.0672,0,0,0,0,0,1,0
158,Smelt,19.9,13.8,15.0,16.2,2.9322,1.8792,0,0,0,0,0,1,0

In [24]:
data.drop('Species', axis=1, inplace=True)

In [26]:
data.head()

,Weight,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,1,0,0,0,0,0,0
1,290.0,24.0,26.3,31.2,12.4800,4.3056,1,0,0,0,0,0,0
2,340.0,23.9,26.5,31.1,12.3778,4.6961,1,0,0,0,0,0,0
3,363.0,26.3,29.0,33.5,12.7300,4.4555,1,0,0,0,0,0,0
4,430.0,26.5,29.0,34.0,12.4440,5.1340,1,0,0,0,0,0,0

In [23]:
# atskirkime lentelėje mūsų 'target'
data.columns
x=data[['Species',	'Weight',	'Length1',	'Length2',	'Length3',	'Height',	'Width']]
y=data['fish', 'Weight']

KeyError: ('fish', 'Weight')

In [8]:
target = data['fish']
target

KeyError: 'fish'

In [31]:
sns.set_style('whitegrid')
# sns.countplot(fish['Species'])