# Panda III

In [1]:
import numpy as np
import pandas as pd

In [6]:
top50 = pd.read_csv('data/top50.csv')
top50.tail()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88
46,47,Te Robar�,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82

In [7]:
top50.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Se�orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [8]:
# Pamėginkime išrinkti unikalias reikšmes iš stulpelio 'Genre':
stop50['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

In [9]:
# jeigu norime sužinoti, kiek jų yra, tiesiog naudojame len funkciją:
len(top50['Genre'].unique())

21

In [11]:
top50['Genre'].nunique()

21

In [12]:
top50['Genre'].value_counts()

dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: Genre, dtype: int64

## .apply() metodas

In [13]:
top50['Length.'].sum()

10048

In [24]:
# su .apply() galime maudoti ir savo funkcijas. Parašykime funkciją, kuri iš duotų sekundžių skaičiaus išskirs minutes ir sekundes formatu mm:ss
def minutes_seconds(seconds):
    minutes = seconds // 60
    seconds = seconds % 60
    return f'{minutes}:{seconds:02d}' # 02d - 0- uzpildo tuscia vieta, 2 -minimum 2 skaiciai "d"-sketmuo

In [21]:
print(minutes_seconds(121))
print(minutes_seconds(3))

2:01
0:03

In [26]:
top50['Length.'].apply(minutes_seconds)

0     3:11
1     5:02
2     3:06
3     3:18
4     2:55
5     3:40
6     2:11
7     3:22
8     2:37
9     3:14
10    4:11
11    3:05
12    3:02
13    4:48
14    3:25
15    4:21
16    4:03
17    2:38
18    2:41
19    2:53
20    2:33
21    1:55
22    5:09
23    4:26
24    3:15
25    3:11
26    3:30
27    3:33
28    3:13
29    3:42
30    3:30
31    2:59
32    2:56
33    3:20
34    3:44
35    2:44
36    3:46
37    2:42
38    3:01
39    3:19
40    3:48
41    2:51
42    3:36
43    3:18
44    2:42
45    3:02
46    3:22
47    3:34
48    3:38
49    3:26
Name: Length., dtype: object

In [25]:
top50['Length.Pretty'] = top50['Length.'].apply(minutes_seconds)
top50.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Se�orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,3:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,3:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,2:55

In [27]:
# Galime naudoti lambdas: energy duomenys dalinam is 10
top=top50
top['Energy'].apply(lambda x: round(x/10)).head()

0    6
1    8
2    8
3    6
4    6
Name: Energy, dtype: int64

In [29]:
top['Length.'].apply(lambda seconds: f'{seconds // 60}:{(seconds % 60):02d}')

0     3:11
1     5:02
2     3:06
3     3:18
4     2:55
5     3:40
6     2:11
7     3:22
8     2:37
9     3:14
10    4:11
11    3:05
12    3:02
13    4:48
14    3:25
15    4:21
16    4:03
17    2:38
18    2:41
19    2:53
20    2:33
21    1:55
22    5:09
23    4:26
24    3:15
25    3:11
26    3:30
27    3:33
28    3:13
29    3:42
30    3:30
31    2:59
32    2:56
33    3:20
34    3:44
35    2:44
36    3:46
37    2:42
38    3:01
39    3:19
40    3:48
41    2:51
42    3:36
43    3:18
44    2:42
45    3:02
46    3:22
47    3:34
48    3:38
49    3:26
Name: Length., dtype: object

## Naudingos funkcijos
* columns grąžina stulpelių sąrašą

In [30]:
top.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

In [31]:
top.index

RangeIndex(start=0, stop=50, step=1)

In [32]:
top.shape # 50 - israsu, 15 - stulpeliu

(50, 15)

In [38]:
# .sort_values surūšiuoja eilutes pagal nurodytą stulpelį:
top.sort_values('Artist.Name')
top.sort_values('Length.')
top.sort_values('Track.Name')
top.sort_values('Length.', ascending=False)

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83,5:09
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02
13,14,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87,4:48
23,24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91,4:26
15,16,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82,4:21
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93,4:11
16,17,LA CANCI�N,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90,4:03
40,41,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88,3:48
36,37,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91,3:46
34,35,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89,3:44
29,30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89,3:42
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84,3:40
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,3:38
42,43,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87,3:36
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88,3:34
27,28,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89,3:33
26,27,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83,3:30
30,31,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84,3:30
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82,3:26
14,15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92,3:25
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90,3:22
46,47,Te Robar�,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88,3:22
33,34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89,3:20
39,40,"fuck, i'm lonely (with Anne-Marie) - from �13 ...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78,3:19
43,44,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84,3:18
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
24,25,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,89,3:15
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95,3:14
28,29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91,3:13
0,1,Se�orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,3:11
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70,3:11
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,3:06
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86,3:05
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88,3:02
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88,3:02
38,39,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80,3:01
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,2:59
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,2:56
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,2:55
19,20,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91,2:53
41,42,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90,2:51
35,36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89,2:44
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,2:42
44,45,Con Altura,ROSAL�A,r&b en espanol,98,69,88,-4,5,75,162,39,12,88,2:42
18,19,Lalala,Y2K,canadian hip hop,130,39,84,-8,14,50,161,18,8,88,2:41
17,18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91,2:38
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87,2:37
20,21,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91,2:33
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92,2:11
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91,1:55

In [40]:
# .isnull() grąžina lentelę su boolean reikšmėmis kur True reiškia NaN.
top.isnull()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [41]:
top.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50 non-null     int64
 1   Track.Name        50 non-null     object
 2   Artist.Name       50 non-null     object
 3   Genre             50 non-null     object
 4   Beats.Per.Minute  50 non-null     int64
 5   Energy            50 non-null     int64
 6   Danceability      50 non-null     int64
 7   Loudness..dB..    50 non-null     int64
 8   Liveness          50 non-null     int64
 9   Valence.          50 non-null     int64
 10  Length.           50 non-null     int64
 11  Acousticness..    50 non-null     int64
 12  Speechiness.      50 non-null     int64
 13  Popularity        50 non-null     int64
 14  Length.Pretty     50 non-null     object
dtypes: int64(11), object(4)
memory usage: 6.0+ KB

## Duomenų nuskaitymas / įrašymas
CSV

In [ ]:
# CSV - turbūt dažniausiai pasitaikantis formatas, analizuojant duomenis. Vieną CSV failą jau nuskaitėme pirmose šio dokumento eilutėse. Nuskaitykime dar vieną:

In [42]:
duomenys = pd.read_csv('data/top50.csv')

In [43]:
top.to_csv('data/top50.csv', index=False)

In [44]:
top.to_html('data/top50.csv', index=False)

In [46]:
duomenys_html = pd.read_html('https://lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')
duomenys_html

[   Vilniaus miesto savivaldybė Vilniaus miesto savivaldybė.1
 0                          NaN                           NaN
 1                          NaN                           NaN
 2                          NaN                           NaN
 3                          NaN                           NaN
 4                          NaN                           NaN
 5                          NaN                           NaN
 6                     Valstybė                       Lietuva
 7                    Apskritis            Vilniaus apskritis
 8      Administracinis centras                       Vilnius
 9           Seniūnijų skaičius                            21
 10                Įkūrimo data                       1995 m.
 11                       Meras    Remigijus Šimašius (2019–)
 12                         NaN                           NaN
 13                   Gyventojų                    556 490[1]
 14                      Plotas                       401 km²
 15                    Tankumas                 1 388 žm./km²
 16           Aukščiausia vieta   230,7 m (Rokantiškių kalva)
 17                         NaN                           NaN
 18                 Tinklalapis                    vilnius.lt
 19                    Vikiteka   Vilniaus miesto savivaldybė,
                                                     0  \
 0   Ž • A • RVilniaus miesto savivaldybės saugomos...
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                             Valstybiniai rezervatai
 4                                                 NaN
 5                                  Regioniniai parkai
 6                                                 NaN
 7                            Valstybiniai draustiniai
 8                                                 NaN
 9                            Savivaldybės draustiniai
 10                                                NaN
 11                                   Gamtos paminklai
 12                                                NaN
 13               Valstybiniai gamtos paveldo objektai
 14                                                NaN
 15               Savivaldybės gamtos paveldo objektai

                                                     1
 0                                                 NaN
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                Vilniaus pilių kultūrinis rezervatas
 4                                                 NaN
 5   Pavilnių regioninis parkas • Verkių regioninis...
 6                                                 NaN
 7   Dvarčionių geomorfologinis • Griovių geomorfol...
 8                                                 NaN
 9   Aukštagirio geomorfologinis • Cedrono aukštupi...
 10                                                NaN
 11  Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 12                                                NaN
 13              Aukštųjų Panerių geležinkelio tunelis
 14                                                NaN
 15  Antakalnio parko kedrinė pušis • Aštuonių klev...  ,
    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos  \
 0                                                 NaN
 1                             Valstybiniai rezervatai
 2                                                 NaN
 3                                  Regioniniai parkai
 4                                                 NaN
 5                            Valstybiniai draustiniai
 6                                                 NaN
 7                            Savivaldybės draustiniai
 8                                                 NaN
 9                                    Gamtos paminklai
 10                                                NaN
 11               Valstybiniai gamtos paveldo objektai
 12                                                NaN
 13               Savivaldybės gamtos paveldo objektai

    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos.1
 0                                                 NaN
 1                Vilniaus pilių kultūrinis rezervatas
 2                                                 NaN
 3   Pavilnių regioninis parkas • Verkių regioninis...
 4                                                 NaN
 5   Dvarčionių geomorfologinis • Griovių geomorfol...
 6                                                 NaN
 7   Aukštagirio geomorfologinis • Cedrono aukštupi...
 8                                                 NaN
 9   Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 10                                                NaN
 11              Aukštųjų Panerių geležinkelio tunelis
 12                                                NaN
 13  Antakalnio parko kedrinė pušis • Aštuonių klev...            ,
              0                 1            2
 0          NaN       54° 49′ 20″          NaN
 1  25° 01′ 40″  Vilniaus miestas  25° 28′ 50″
 2          NaN               NaN          NaN
 3          NaN  Vilniaus miestas          NaN
 4          NaN               NaN          NaN
 5          NaN       54° 34′ 00″          NaN,
     0                 1   2
 0 NaN               NaN NaN
 1 NaN  Vilniaus miestas NaN
 2 NaN               NaN NaN,
                              0  \
 0                          NaN
 1  2001 m. gyventojų surašymas
 2          2009 m. gyvenvietės
 3  2011 m. gyventojų surašymas
 4          2016 m. gyvenvietės
 5         2020 m. suskirstymas
 6  2021 m. gyventojų surašymas

                                                  1
 0  Vilniaus miesto savivaldybės istoriniai sąrašai
 1                      2001 m. gyventojų surašymas
 2                              2009 m. gyvenvietės
 3                      2011 m. gyventojų surašymas
 4                              2016 m. gyvenvietės
 5                             2020 m. suskirstymas
 6                      2021 m. gyventojų surašymas  ,
    Savivaldybės istorija                            \
                    Metai Plotas, km² Gyventojų sk.
 0                1942 m.         NaN       146 300
 1                1949 m.       139.0           NaN
 2                1957 m.         NaN           NaN
 3                1959 m.       142.0       230 769
 4                1967 m.       153.0       316 400
 5                1970 m.       265.0       372 100
 6                1972 m.       262.0           NaN
 7                1976 m.       263.0       445 900
 8                1979 m.         NaN       475 825
 9                1988 m.       287.0       577 000
 10               1989 m.       287.0       576 747
 11               1999 m.       401.0       588 400
 12    2001 m. (Išsamiau)       401.0       553 904

                                             \
                               Suskirstymas
 0                                      NaN
 1   5 miesto rajonai (11 miesto apylinkių)
 2                         4 miesto rajonai
 3                         4 miesto rajonai
 4                                      NaN
 5                         4 miesto rajonai
 6                         4 miesto rajonai
 7                                      NaN
 8                         4 miesto rajonai
 9                         4 miesto rajonai
 10                                     NaN
 11                                     NaN
 12                            21 seniūnija


                                  Gyvenvietės
 0                                        NaN
 1                                        NaN
 2                                        NaN
 3                        1 miestas (Vilnius)
 4                                        NaN
 5                                  1 miestas
 6                                  1 miestas
 7                                  1 miestas
 8                                  1 miestas
 9                                  1 miestas
 10                                 1 miestas
 11                                       NaN
 12  2 miestai (Grigiškės, Vilnius), 3 kaimai  ,
                                            0  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1959 m.sur.
 2                                    230 769
 3                                    2019 m.
 4                                    552 131
 5             Demografinės raidos histograma
 6             Demografinės raidos histograma
 7                                        NaN

                                            1  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1970 m.sur.
 2                                    372 100
 3                             2021 m.sur.[2]
 4                                    556 490
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            2  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1979 m.sur.
 2                                    475 825
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            3  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1989 m.sur.
 2                                    576 747
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            4  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                2001 m.sur.
 2                                    553 904
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            5  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                    2005 m.
 2                                    560 190
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            6
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                2011 m.sur.
 2                                    538 968
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN  ,
 Empty DataFrame
 Columns: [Demografinės raidos histograma]
 Index: [],
                        Seniūnija     Plotas  Gyventojai (2020 m.) [3]
 0           Antakalnio seniūnija   77,2 km²                     40637
 1         Fabijoniškių seniūnija    4,1 km²                     38237
 2            Grigiškių seniūnija    7,1 km²                     11466
 3          Justiniškių seniūnija   2,98 km²                     26818
 4         Karoliniškių seniūnija    4,0 km²                     25532
 5              Lazdynų seniūnija   10,3 km²                     32325
 6         Naujamiesčio seniūnija    4,8 km²                     32280
 7           Naujininkų seniūnija   41,1 km²                     31568
 8    Naujosios Vilnios seniūnija   39,3 km²                     38571
 9              Panerių seniūnija  84,94 km²                     10367
 10          Pašilaičių seniūnija    8,2 km²                     40823
 11            Pilaitės seniūnija   13,8 km²                     27725
 12                Rasų seniūnija   12,7 km²                     11592
 13         Senamiesčio seniūnija    4,5 km²                     22000
 14            Šeškinės seniūnija    4,4 km²                     29885
 15           Šnipiškių seniūnija   3,12 km²                     15603
 16              Verkių seniūnija  55,65 km²                     50688
 17           Vilkpėdės seniūnija   10,3 km²                     19720
 18         Viršuliškių seniūnija    2,5 km²                     14153
 19             Žirmūnų seniūnija    8,5 km²                     44079
 20             Žvėryno seniūnija    2,7 km²                     13620
 21  Nedeklaravę gyvenamos vietos        NaN                      8936,
                                                    0  \
 0  Almata, Kazachija  Astana, Kazachija  Briuseli...

                                                    1  \
 0  Erfurtas, Vokietija  Gdanskas, Lenkija  Guangd...

                                                    2  \
 0  Madisonas, JAV  Olborgas, Danija  Oslas, Norve...

                                                    3
 0  Stokholmas, Švedija  Strasbūras, Prancūzija  T...  ,
                               Unnamed: 0  \
 0                                    NaN
 1                                   2018
 2            Bendros valstybės paslaugos
 3                                 Gynyba
 4   Viešoji tvarka ir visuomenės apsauga
 5                              Ekonomika
 6                       Aplinkos apsauga
 7             Būstas ir komunalinis ūkis
 8                      Sveikatos apsauga
 9           Poilsis, kultūra ir religija
 10                             Švietimas
 11                     Socialinė apsauga
 12   Finansinio turto įsigijimo išlaidos
 13                              Iš viso:

    Savivaldybių biudžetų išlaidos tūkst. EUR[5]  \
 0                                           NaN
 1                                          2019
 2                                      68 863,6
 3                                          2121
 4                                       2 291,5
 5                                      42 232,1
 6                                      37 201,0
 7                                      74 410,2
 8                                      10 332,8
 9                                      22 314,5
 10                                    287 404,2
 11                                     63 697,6
 12                                           00
 13                                    608 959,6

    Savivaldybių biudžetų išlaidos tūkst. EUR[5].1
 0                                             NaN
 1                                             NaN
 2                                        52 206,7
 3                                            1688
 4                                         2 719,1
 5                                        58 094,6
 6                                        42 331,2
 7                                        77 406,8
 8                                        15 268,8
 9                                        22 904,7
 10                                      324 714,5
 11                                       64 796,4
 12                                           5901
 13                                      661 201,7  ,
                                            Unnamed: 0  \
 0                                                 NaN
 1                                                2018
 2                                           Mokesčiai
 3                           Gyventojų pajamų mokestis
 4                                     Turto mokesčiai
 5                        Prekių ir paslaugų mokesčiai
 6                                           Dotacijos
 7                Lėšos pagal tarpusavio atsiskaitymus
 8                                       Kitos pajamos
 9   Sandoriai dėl materialiojo ir nematerialiojo t...
 10                                       Viso pajamų:

    Savivaldybių biudžetų pajamos tūkst. EUR[6]  \
 0                                          NaN
 1                                         2019
 2                                    337 133,5
 3                                    295 265,4
 4                                     40 527,3
 5                                      1 340,8
 6                                    202 933,3
 7                                            −
 8                                     56 652,6
 9                                      7 075,9
 10                                   603 795,3

    Savivaldybių biudžetų pajamos tūkst. EUR[6].1
 0                                            NaN
 1                                            NaN
 2                                      358 667,0
 3                                      314 283,1
 4                                        2 719,1
 5                                        1 348,4
 6                                      221 896,0
 7                                              −
 8                                       69 536,4
 9                                       10 213,8
 10                                     660 313,2  ,
                                                     0  \
 0   Ž • A • RLietuvos administracinis suskirstymas...
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                   Alytaus apskritis
 4                                                 NaN
 5                                     Kauno apskritis
 6                                                 NaN
 7                                 Klaipėdos apskritis
 8                                                 NaN
 9                              Marijampolės apskritis
 10                                                NaN
 11                                Panevėžio apskritis
 12                                                NaN
 13                                  Šiaulių apskritis
 14                                                NaN
 15                                 Tauragės apskritis
 16                                                NaN
 17                                   Telšių apskritis
 18                                                NaN
 19                                   Utenos apskritis
 20                                                NaN
 21                                 Vilniaus apskritis

                                                     1  \
 0                                                 NaN
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3   · Alytaus miesto savivaldybė · Alytaus rajono ...
 4                                                 NaN
 5   · Birštono savivaldybė · Jonavos rajono saviva...
 6                                                 NaN
 7   · Klaipėdos miesto savivaldybė · Klaipėdos raj...
 8                                                 NaN
 9   · Kalvarijos savivaldybė · Kazlų Rūdos savival...
 10                                                NaN
 11  · Biržų rajono savivaldybė · Kupiškio rajono s...
 12                                                NaN
 13  · Akmenės rajono savivaldybė · Joniškio rajono...
 14                                                NaN
 15  · Jurbarko rajono savivaldybė · Pagėgių saviva...
 16                                                NaN
 17  · Mažeikių rajono savivaldybė · Plungės rajono...
 18                                                NaN
 19  · Anykščių rajono savivaldybė · Ignalinos rajo...
 20                                                NaN
 21  · Elektrėnų savivaldybė · Šalčininkų rajono sa...

                                                     2
 0                                                 NaN
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                                 NaN

* XLS

In [ ]:
duomenys_xls = pd.read_excel('example.xls', sheet_name='example')

duomenys_xls.head()

In [48]:
for duomuo in duomenys_html:
    print(type(duomuo))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [49]:
type(duomenys_html)

list

In [50]:
duomenys_html

[   Vilniaus miesto savivaldybė Vilniaus miesto savivaldybė.1
 0                          NaN                           NaN
 1                          NaN                           NaN
 2                          NaN                           NaN
 3                          NaN                           NaN
 4                          NaN                           NaN
 5                          NaN                           NaN
 6                     Valstybė                       Lietuva
 7                    Apskritis            Vilniaus apskritis
 8      Administracinis centras                       Vilnius
 9           Seniūnijų skaičius                            21
 10                Įkūrimo data                       1995 m.
 11                       Meras    Remigijus Šimašius (2019–)
 12                         NaN                           NaN
 13                   Gyventojų                    556 490[1]
 14                      Plotas                       401 km²
 15                    Tankumas                 1 388 žm./km²
 16           Aukščiausia vieta   230,7 m (Rokantiškių kalva)
 17                         NaN                           NaN
 18                 Tinklalapis                    vilnius.lt
 19                    Vikiteka   Vilniaus miesto savivaldybė,
                                                     0  \
 0   Ž • A • RVilniaus miesto savivaldybės saugomos...
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                             Valstybiniai rezervatai
 4                                                 NaN
 5                                  Regioniniai parkai
 6                                                 NaN
 7                            Valstybiniai draustiniai
 8                                                 NaN
 9                            Savivaldybės draustiniai
 10                                                NaN
 11                                   Gamtos paminklai
 12                                                NaN
 13               Valstybiniai gamtos paveldo objektai
 14                                                NaN
 15               Savivaldybės gamtos paveldo objektai

                                                     1
 0                                                 NaN
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                Vilniaus pilių kultūrinis rezervatas
 4                                                 NaN
 5   Pavilnių regioninis parkas • Verkių regioninis...
 6                                                 NaN
 7   Dvarčionių geomorfologinis • Griovių geomorfol...
 8                                                 NaN
 9   Aukštagirio geomorfologinis • Cedrono aukštupi...
 10                                                NaN
 11  Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 12                                                NaN
 13              Aukštųjų Panerių geležinkelio tunelis
 14                                                NaN
 15  Antakalnio parko kedrinė pušis • Aštuonių klev...  ,
    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos  \
 0                                                 NaN
 1                             Valstybiniai rezervatai
 2                                                 NaN
 3                                  Regioniniai parkai
 4                                                 NaN
 5                            Valstybiniai draustiniai
 6                                                 NaN
 7                            Savivaldybės draustiniai
 8                                                 NaN
 9                                    Gamtos paminklai
 10                                                NaN
 11               Valstybiniai gamtos paveldo objektai
 12                                                NaN
 13               Savivaldybės gamtos paveldo objektai

    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos.1
 0                                                 NaN
 1                Vilniaus pilių kultūrinis rezervatas
 2                                                 NaN
 3   Pavilnių regioninis parkas • Verkių regioninis...
 4                                                 NaN
 5   Dvarčionių geomorfologinis • Griovių geomorfol...
 6                                                 NaN
 7   Aukštagirio geomorfologinis • Cedrono aukštupi...
 8                                                 NaN
 9   Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 10                                                NaN
 11              Aukštųjų Panerių geležinkelio tunelis
 12                                                NaN
 13  Antakalnio parko kedrinė pušis • Aštuonių klev...            ,
              0                 1            2
 0          NaN       54° 49′ 20″          NaN
 1  25° 01′ 40″  Vilniaus miestas  25° 28′ 50″
 2          NaN               NaN          NaN
 3          NaN  Vilniaus miestas          NaN
 4          NaN               NaN          NaN
 5          NaN       54° 34′ 00″          NaN,
     0                 1   2
 0 NaN               NaN NaN
 1 NaN  Vilniaus miestas NaN
 2 NaN               NaN NaN,
                              0  \
 0                          NaN
 1  2001 m. gyventojų surašymas
 2          2009 m. gyvenvietės
 3  2011 m. gyventojų surašymas
 4          2016 m. gyvenvietės
 5         2020 m. suskirstymas
 6  2021 m. gyventojų surašymas

                                                  1
 0  Vilniaus miesto savivaldybės istoriniai sąrašai
 1                      2001 m. gyventojų surašymas
 2                              2009 m. gyvenvietės
 3                      2011 m. gyventojų surašymas
 4                              2016 m. gyvenvietės
 5                             2020 m. suskirstymas
 6                      2021 m. gyventojų surašymas  ,
    Savivaldybės istorija                            \
                    Metai Plotas, km² Gyventojų sk.
 0                1942 m.         NaN       146 300
 1                1949 m.       139.0           NaN
 2                1957 m.         NaN           NaN
 3                1959 m.       142.0       230 769
 4                1967 m.       153.0       316 400
 5                1970 m.       265.0       372 100
 6                1972 m.       262.0           NaN
 7                1976 m.       263.0       445 900
 8                1979 m.         NaN       475 825
 9                1988 m.       287.0       577 000
 10               1989 m.       287.0       576 747
 11               1999 m.       401.0       588 400
 12    2001 m. (Išsamiau)       401.0       553 904

                                             \
                               Suskirstymas
 0                                      NaN
 1   5 miesto rajonai (11 miesto apylinkių)
 2                         4 miesto rajonai
 3                         4 miesto rajonai
 4                                      NaN
 5                         4 miesto rajonai
 6                         4 miesto rajonai
 7                                      NaN
 8                         4 miesto rajonai
 9                         4 miesto rajonai
 10                                     NaN
 11                                     NaN
 12                            21 seniūnija


                                  Gyvenvietės
 0                                        NaN
 1                                        NaN
 2                                        NaN
 3                        1 miestas (Vilnius)
 4                                        NaN
 5                                  1 miestas
 6                                  1 miestas
 7                                  1 miestas
 8                                  1 miestas
 9                                  1 miestas
 10                                 1 miestas
 11                                       NaN
 12  2 miestai (Grigiškės, Vilnius), 3 kaimai  ,
                                            0  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1959 m.sur.
 2                                    230 769
 3                                    2019 m.
 4                                    552 131
 5             Demografinės raidos histograma
 6             Demografinės raidos histograma
 7                                        NaN

                                            1  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1970 m.sur.
 2                                    372 100
 3                             2021 m.sur.[2]
 4                                    556 490
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            2  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1979 m.sur.
 2                                    475 825
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            3  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1989 m.sur.
 2                                    576 747
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            4  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                2001 m.sur.
 2                                    553 904
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            5  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                    2005 m.
 2                                    560 190
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            6
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                2011 m.sur.
 2                                    538 968
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN  ,
 Empty DataFrame
 Columns: [Demografinės raidos histograma]
 Index: [],
                        Seniūnija     Plotas  Gyventojai (2020 m.) [3]
 0           Antakalnio seniūnija   77,2 km²                     40637
 1         Fabijoniškių seniūnija    4,1 km²                     38237
 2            Grigiškių seniūnija    7,1 km²                     11466
 3          Justiniškių seniūnija   2,98 km²                     26818
 4         Karoliniškių seniūnija    4,0 km²                     25532
 5              Lazdynų seniūnija   10,3 km²                     32325
 6         Naujamiesčio seniūnija    4,8 km²                     32280
 7           Naujininkų seniūnija   41,1 km²                     31568
 8    Naujosios Vilnios seniūnija   39,3 km²                     38571
 9              Panerių seniūnija  84,94 km²                     10367
 10          Pašilaičių seniūnija    8,2 km²                     40823
 11            Pilaitės seniūnija   13,8 km²                     27725
 12                Rasų seniūnija   12,7 km²                     11592
 13         Senamiesčio seniūnija    4,5 km²                     22000
 14            Šeškinės seniūnija    4,4 km²                     29885
 15           Šnipiškių seniūnija   3,12 km²                     15603
 16              Verkių seniūnija  55,65 km²                     50688
 17           Vilkpėdės seniūnija   10,3 km²                     19720
 18         Viršuliškių seniūnija    2,5 km²                     14153
 19             Žirmūnų seniūnija    8,5 km²                     44079
 20             Žvėryno seniūnija    2,7 km²                     13620
 21  Nedeklaravę gyvenamos vietos        NaN                      8936,
                                                    0  \
 0  Almata, Kazachija  Astana, Kazachija  Briuseli...

                                                    1  \
 0  Erfurtas, Vokietija  Gdanskas, Lenkija  Guangd...

                                                    2  \
 0  Madisonas, JAV  Olborgas, Danija  Oslas, Norve...

                                                    3
 0  Stokholmas, Švedija  Strasbūras, Prancūzija  T...  ,
                               Unnamed: 0  \
 0                                    NaN
 1                                   2018
 2            Bendros valstybės paslaugos
 3                                 Gynyba
 4   Viešoji tvarka ir visuomenės apsauga
 5                              Ekonomika
 6                       Aplinkos apsauga
 7             Būstas ir komunalinis ūkis
 8                      Sveikatos apsauga
 9           Poilsis, kultūra ir religija
 10                             Švietimas
 11                     Socialinė apsauga
 12   Finansinio turto įsigijimo išlaidos
 13                              Iš viso:

    Savivaldybių biudžetų išlaidos tūkst. EUR[5]  \
 0                                           NaN
 1                                          2019
 2                                      68 863,6
 3                                          2121
 4                                       2 291,5
 5                                      42 232,1
 6                                      37 201,0
 7                                      74 410,2
 8                                      10 332,8
 9                                      22 314,5
 10                                    287 404,2
 11                                     63 697,6
 12                                           00
 13                                    608 959,6

    Savivaldybių biudžetų išlaidos tūkst. EUR[5].1
 0                                             NaN
 1                                             NaN
 2                                        52 206,7
 3                                            1688
 4                                         2 719,1
 5                                        58 094,6
 6                                        42 331,2
 7                                        77 406,8
 8                                        15 268,8
 9                                        22 904,7
 10                                      324 714,5
 11                                       64 796,4
 12                                           5901
 13                                      661 201,7  ,
                                            Unnamed: 0  \
 0                                                 NaN
 1                                                2018
 2                                           Mokesčiai
 3                           Gyventojų pajamų mokestis
 4                                     Turto mokesčiai
 5                        Prekių ir paslaugų mokesčiai
 6                                           Dotacijos
 7                Lėšos pagal tarpusavio atsiskaitymus
 8                                       Kitos pajamos
 9   Sandoriai dėl materialiojo ir nematerialiojo t...
 10                                       Viso pajamų:

    Savivaldybių biudžetų pajamos tūkst. EUR[6]  \
 0                                          NaN
 1                                         2019
 2                                    337 133,5
 3                                    295 265,4
 4                                     40 527,3
 5                                      1 340,8
 6                                    202 933,3
 7                                            −
 8                                     56 652,6
 9                                      7 075,9
 10                                   603 795,3

    Savivaldybių biudžetų pajamos tūkst. EUR[6].1
 0                                            NaN
 1                                            NaN
 2                                      358 667,0
 3                                      314 283,1
 4                                        2 719,1
 5                                        1 348,4
 6                                      221 896,0
 7                                              −
 8                                       69 536,4
 9                                       10 213,8
 10                                     660 313,2  ,
                                                     0  \
 0   Ž • A • RLietuvos administracinis suskirstymas...
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                   Alytaus apskritis
 4                                                 NaN
 5                                     Kauno apskritis
 6                                                 NaN
 7                                 Klaipėdos apskritis
 8                                                 NaN
 9                              Marijampolės apskritis
 10                                                NaN
 11                                Panevėžio apskritis
 12                                                NaN
 13                                  Šiaulių apskritis
 14                                                NaN
 15                                 Tauragės apskritis
 16                                                NaN
 17                                   Telšių apskritis
 18                                                NaN
 19                                   Utenos apskritis
 20                                                NaN
 21                                 Vilniaus apskritis

                                                     1  \
 0                                                 NaN
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3   · Alytaus miesto savivaldybė · Alytaus rajono ...
 4                                                 NaN
 5   · Birštono savivaldybė · Jonavos rajono saviva...
 6                                                 NaN
 7   · Klaipėdos miesto savivaldybė · Klaipėdos raj...
 8                                                 NaN
 9   · Kalvarijos savivaldybė · Kazlų Rūdos savival...
 10                                                NaN
 11  · Biržų rajono savivaldybė · Kupiškio rajono s...
 12                                                NaN
 13  · Akmenės rajono savivaldybė · Joniškio rajono...
 14                                                NaN
 15  · Jurbarko rajono savivaldybė · Pagėgių saviva...
 16                                                NaN
 17  · Mažeikių rajono savivaldybė · Plungės rajono...
 18                                                NaN
 19  · Anykščių rajono savivaldybė · Ignalinos rajo...
 20                                                NaN
 21  · Elektrėnų savivaldybė · Šalčininkų rajono sa...

                                                     2
 0                                                 NaN
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                                 NaN

In [62]:
duomenys_html[6]

   Savivaldybės istorija                            \
                   Metai Plotas, km² Gyventojų sk.
0                1942 m.         NaN       146 300
1                1949 m.       139.0           NaN
2                1957 m.         NaN           NaN
3                1959 m.       142.0       230 769
4                1967 m.       153.0       316 400
5                1970 m.       265.0       372 100
6                1972 m.       262.0           NaN
7                1976 m.       263.0       445 900
8                1979 m.         NaN       475 825
9                1988 m.       287.0       577 000
10               1989 m.       287.0       576 747
11               1999 m.       401.0       588 400
12    2001 m. (Išsamiau)       401.0       553 904

                                            \
                              Suskirstymas
0                                      NaN
1   5 miesto rajonai (11 miesto apylinkių)
2                         4 miesto rajonai
3                         4 miesto rajonai
4                                      NaN
5                         4 miesto rajonai
6                         4 miesto rajonai
7                                      NaN
8                         4 miesto rajonai
9                         4 miesto rajonai
10                                     NaN
11                                     NaN
12                            21 seniūnija


                                 Gyvenvietės
0                                        NaN
1                                        NaN
2                                        NaN
3                        1 miestas (Vilnius)
4                                        NaN
5                                  1 miestas
6                                  1 miestas
7                                  1 miestas
8                                  1 miestas
9                                  1 miestas
10                                 1 miestas
11                                       NaN
12  2 miestai (Grigiškės, Vilnius), 3 kaimai

# SQL

In [68]:
istorija = duomenys_html[6]
istorija

   Savivaldybės istorija                            \
                   Metai Plotas, km² Gyventojų sk.
0                1942 m.         NaN       146 300
1                1949 m.       139.0           NaN
2                1957 m.         NaN           NaN
3                1959 m.       142.0       230 769
4                1967 m.       153.0       316 400
5                1970 m.       265.0       372 100
6                1972 m.       262.0           NaN
7                1976 m.       263.0       445 900
8                1979 m.         NaN       475 825
9                1988 m.       287.0       577 000
10               1989 m.       287.0       576 747
11               1999 m.       401.0       588 400
12    2001 m. (Išsamiau)       401.0       553 904

                                            \
                              Suskirstymas
0                                      NaN
1   5 miesto rajonai (11 miesto apylinkių)
2                         4 miesto rajonai
3                         4 miesto rajonai
4                                      NaN
5                         4 miesto rajonai
6                         4 miesto rajonai
7                                      NaN
8                         4 miesto rajonai
9                         4 miesto rajonai
10                                     NaN
11                                     NaN
12                            21 seniūnija


                                 Gyvenvietės
0                                        NaN
1                                        NaN
2                                        NaN
3                        1 miestas (Vilnius)
4                                        NaN
5                                  1 miestas
6                                  1 miestas
7                                  1 miestas
8                                  1 miestas
9                                  1 miestas
10                                 1 miestas
11                                       NaN
12  2 miestai (Grigiškės, Vilnius), 3 kaimai

In [69]:
from sqlalchemy import create_engine

In [70]:
# Susikurkime primityvią duomenų bazę:
engine = create_engine('sqlite:///data/demo_istorija.db')
engine

Engine(sqlite:///data/demo_istorija.db)

In [71]:
# įdėkime mūsų DF į duomenų bazę:
istorija.to_sql('istorija', con=engine, index=False)

13

In [72]:
# Dabar ištraukime:
istorija_sql = pd.read_sql('istorija', con=engine)
istorija

   Savivaldybės istorija                            \
                   Metai Plotas, km² Gyventojų sk.
0                1942 m.         NaN       146 300
1                1949 m.       139.0           NaN
2                1957 m.         NaN           NaN
3                1959 m.       142.0       230 769
4                1967 m.       153.0       316 400
5                1970 m.       265.0       372 100
6                1972 m.       262.0           NaN
7                1976 m.       263.0       445 900
8                1979 m.         NaN       475 825
9                1988 m.       287.0       577 000
10               1989 m.       287.0       576 747
11               1999 m.       401.0       588 400
12    2001 m. (Išsamiau)       401.0       553 904

                                            \
                              Suskirstymas
0                                      NaN
1   5 miesto rajonai (11 miesto apylinkių)
2                         4 miesto rajonai
3                         4 miesto rajonai
4                                      NaN
5                         4 miesto rajonai
6                         4 miesto rajonai
7                                      NaN
8                         4 miesto rajonai
9                         4 miesto rajonai
10                                     NaN
11                                     NaN
12                            21 seniūnija


                                 Gyvenvietės
0                                        NaN
1                                        NaN
2                                        NaN
3                        1 miestas (Vilnius)
4                                        NaN
5                                  1 miestas
6                                  1 miestas
7                                  1 miestas
8                                  1 miestas
9                                  1 miestas
10                                 1 miestas
11                                       NaN
12  2 miestai (Grigiškės, Vilnius), 3 kaimai

In [ ]:
# Jeigu kažkuris iš nuskaitymo/įrašymo metodų neveiks, tikėtina, kad trūksta kažko iš šių bibliotekų:

# conda install sqlalchemy
# conda install lxml
# conda install html5lib
# conda install BeautifulSoup4

# Pandas užduotys 3

In [77]:
import numpy as np
import pandas as pd

### 1 Ištraukite lentelę iš šios svetainės. Išsaugokite kintamąjame.

In [119]:
# html dumenu istarukymas is web bage
countries_html = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')
countries_html

[         0                                                  1   2
 0  Country  any Austria Belgium Bulgaria Croatia Cyprus Cz... NaN
 1      NaN                                                NaN NaN,
              Staat                     Official languages    Population  \
 0          Austria                                 German   8.4 million
 1          Belgium  Dutch (north), French (south), German    11 million
 2         Bulgaria                              Bulgarian     7 million
 3          Croatia                               Croatian   4.3 million
 4           Cyprus                         Greek, Turkish       800 000
 5   Czech Republic                                  Czech    10 million
 6          Denmark                                 Danish   5.6 million
 7          Estonia                               Estonian   1.3 million
 8          Finland                       Finnish, Swedish   5.4 million
 9           France                                 French    65 million
 10         Germany                                 German  82.5 million
 11          Greece                                  Greek    11 million
 12         Hungary                              Hungarian    10 million
 13         Iceland                              Icelandic       320 000
 14         Ireland                         English, Irish   4.6 million
 15           Italy                                Italian  60.9 million
 16          Latvia                                Latvian     2 million
 17    Lichtenstein                                 German        36 300
 18       Lithuania                             Lithuanian     3 million
 19      Luxembourg          French, German, Luxembourgish       524 000
 20           Malta                       English, Maltese       450 000
 21     Netherlands                                  Dutch  16.8 million
 22          Norway                              Norwegian     5 million
 23          Poland                                 Polish  38.5 million
 24        Portugal                             Portuguese  10.5 million
 25         Romania                               Romanian  19.1 million
 26        Slovakia                              Slovakian   5.4 million
 27        Slovenia                              Slovenian     2 million
 28           Spain                                Spanish    47 million
 29          Sweden                                Swedish   9.5 million
 30     Switzerland       French, German, Italian, Romansh     8 million
 31  United Kingdom                                English  63.2 million

        Capital                Currency  Phone     Int.
 0       Vienna              euro (EUR)     43      .at
 1     Brussels              euro (EUR)     32      .be
 2        Sofia     Bulgarian lev (BGN)    359      .bg
 3       Zagreb     Croatian kuna (HRK)    385      .hr
 4      Nicosia              euro (EUR)    357      .cy
 5       Prague      Czech koruna (CZK)    420      .cz
 6   Copenhagen      Danish krone (DKK)     45      .dk
 7      Tallinn              euro (EUR)    372      .ee
 8     Helsinki              euro (EUR)    358  .fi/.ax
 9        Paris              euro (EUR)     33      .fr
 10      Berlin              euro (EUR)     49      .de
 11      Athens              euro (EUR)     30      .gr
 12    Budapest  Hungarian forint (HUF)     36      .hu
 13   Reykjavik   Icelandic krona (ISK)    354      .is
 14      Dublin              euro (EUR)    353      .ie
 15        Rome              euro (EUR)     39      .it
 16        Riga      Latvian lats (LVL)    371      .lv
 17       Vaduz       Swiss franc (CHF)    423      .li
 18     Vilnius  Lithuanian litas (LTL)    370      .lt
 19  Luxembourg              euro (EUR)    352      .lu
 20    Valletta              euro (EUR)    356      .mt
 21   Amsterdam              euro (EUR)     31      .nl
 22        Oslo   Norwegian krone (NOK)     47      .no
 23      Warsaw      Polish ztoty (PLN)     48      .pl
 24      Lisbon              euro (EUR)    351      .pt
 25   Bucharest      Romanian leu (RON)     40      .ro
 26  Bratislava              euro (EUR)    421      .sk
 27   Ljubljana              euro (EUR)    386      .si
 28      Madrid              euro (EUR)     34      .es
 29   Stockholm     Swedish krona (SEK)     46      .se
 30        Bern       Swiss franc (CHF)     41      .ch
 31      London          Pound sterling     44      .uk  ]

In [130]:
countries=countries_html[1]
countries

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy
5,Czech Republic,Czech,10 million,Prague,Czech koruna (CZK),420,.cz
6,Denmark,Danish,5.6 million,Copenhagen,Danish krone (DKK),45,.dk
7,Estonia,Estonian,1.3 million,Tallinn,euro (EUR),372,.ee
8,Finland,"Finnish, Swedish",5.4 million,Helsinki,euro (EUR),358,.fi/.ax
9,France,French,65 million,Paris,euro (EUR),33,.fr
10,Germany,German,82.5 million,Berlin,euro (EUR),49,.de
11,Greece,Greek,11 million,Athens,euro (EUR),30,.gr
12,Hungary,Hungarian,10 million,Budapest,Hungarian forint (HUF),36,.hu
13,Iceland,Icelandic,320 000,Reykjavik,Icelandic krona (ISK),354,.is
14,Ireland,"English, Irish",4.6 million,Dublin,euro (EUR),353,.ie
15,Italy,Italian,60.9 million,Rome,euro (EUR),39,.it
16,Latvia,Latvian,2 million,Riga,Latvian lats (LVL),371,.lv
17,Lichtenstein,German,36 300,Vaduz,Swiss franc (CHF),423,.li
18,Lithuania,Lithuanian,3 million,Vilnius,Lithuanian litas (LTL),370,.lt
19,Luxembourg,"French, German, Luxembourgish",524 000,Luxembourg,euro (EUR),352,.lu
20,Malta,"English, Maltese",450 000,Valletta,euro (EUR),356,.mt
21,Netherlands,Dutch,16.8 million,Amsterdam,euro (EUR),31,.nl
22,Norway,Norwegian,5 million,Oslo,Norwegian krone (NOK),47,.no
23,Poland,Polish,38.5 million,Warsaw,Polish ztoty (PLN),48,.pl
24,Portugal,Portuguese,10.5 million,Lisbon,euro (EUR),351,.pt
25,Romania,Romanian,19.1 million,Bucharest,Romanian leu (RON),40,.ro
26,Slovakia,Slovakian,5.4 million,Bratislava,euro (EUR),421,.sk
27,Slovenia,Slovenian,2 million,Ljubljana,euro (EUR),386,.si
28,Spain,Spanish,47 million,Madrid,euro (EUR),34,.es
29,Sweden,Swedish,9.5 million,Stockholm,Swedish krona (SEK),46,.se
30,Switzerland,"French, German, Italian, Romansh",8 million,Bern,Swiss franc (CHF),41,.ch
31,United Kingdom,English,63.2 million,London,Pound sterling,44,.uk

### 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

In [131]:
countries.to_csv('data/countries.csv', index=False)

In [132]:
countries.to_excel('data/countries.xlsx', 'Sheet1', index=False)

In [134]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///data/countries.db')
countries.to_sql('countries.sql', con=engine, index=False)

32

### 3 Nuskaitykite į DF šį failą

In [140]:
gaisrai = pd.read_csv('data/top_20_CA_wildfires.csv')
gaisrai.head(2)

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2

### 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

In [152]:
gaisrai.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [150]:
from pprint import pprint
pprint(list(gaisrai['cause'].unique()))

['Under Investigation',
 'Powerlines',
 'Human Related',
 'Lightning',
 'Undetermined']

### 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

In [151]:
len(gaisrai['cause'].unique())

5

### 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

In [154]:
gaisrai['cause'].value_counts()

Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: cause, dtype: int64

### 6 Kuriais metais buvo daugiausia gaisrų?

In [165]:
gaisrai['year'].value_counts()

2018    3
2007    2
2008    2
2017    1
2003    1
2012    1
2013    1
1932    1
1977    1
1970    1
2006    1
2009    1
2015    1
2002    1
1987    1
1999    1
Name: year, dtype: int64

In [166]:
gaisrai['year'].value_counts().idxmax()

2018

### 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

In [167]:
gaisrai['deaths'].value_counts().drop(0).sum()

10